<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"/>
    <title>Form for EUDI Wallet</title>
    <style>
        ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }

        ul li {
            margin: 0px;
            padding: 10px;
            display: flex;
            align-items: center;
        }

        ul li:nth-child(odd) {
            background-color: white;
        }

        ul li:nth-child(even) {
            background-color: #f0f0f0;
        }

        ul li label {
            display: block;
            margin-bottom: 0;
            padding-left: 10px;
        }

         .row.g-3 {
            margin: 20px;
        }
    </style>
</head>

<body>
<div class="container">
    <form method="post" action="{{redirect_url}}" accept-charset="UTF-8" enctype="multipart/form-data" autocapitalize="off" spellcheck="false">
        <h3>Please select test case:</h3>

        <ul>
            <li>
                <input type="radio" name="case" id="checkbox1" value="1">
                <div>
                    <label for="checkbox1">Valid DL with AM categories</label>
                    <label for="checkbox1">underage</label>
                </div>
            </li>
            <li>
                <input type="radio" name="case" id="checkbox2" value="2">
                <div>
                    <label for="checkbox2">Valid DL with B1, B, AM categories</label>
                    <label for="checkbox2">no restrictions</label>
                </div>
            </li>
            <li>
                <input type="radio" name="case" id="checkbox3" value="3">
                <div>
                    <label for="checkbox3">Valid DL with B1, B, AM categories</label>
                    <label for="checkbox3">general restriction (1)</label>
                </div>
            </li>
            <li>
                <input type="radio" name="case" id="checkbox4" value="4">
                <div>
                    <label for="checkbox4">Valid DL with B1, B, AM categories</label>
                    <label for="checkbox4">general restriction (3)</label>
                </div>
            </li>
            <li>
                <input type="radio" name="case" id="checkbox5" value="5">
                <div>
                    <label for="checkbox5">Valid DL with A(79.03), B1, B, AM categories</label>
                    <label for="checkbox5">A categorie restriction 79.03</label>
                </div>
            </li>
            <li>
                <input type="radio" name="case" id="checkbox6" value="6">
                <div>
                    <label for="checkbox6">Valid DL with B1, B, AM categories</label>
                    <label for="checkbox6">restriction 78</label>
                </div>
            </li>
            <li>
                <input type="radio" name="case" id="checkbox7" value="7">
                <div>
                    <label for="checkbox7">Valid DL with group 1 and group 2 categories</label>
                    <label for="checkbox7">valid C categories with valid code 95</label>
                    <label for="checkbox7">invalid D categories</label>
                </div>
            </li>
            <li>
                <input type="radio" name="case" id="checkbox8" value="8">
                <div>
                    <label for="checkbox8">Valid DL with B1, B, AM categories</label>
                    <label for="checkbox8">two codes per category</label>
                </div>
            </li>
            <li>
                <input type="radio" name="case" id="checkbox9" value="9">
                <div>
                    <label for="checkbox9">Valid DL with B1, B, AM categories</label>
                    <label for="checkbox9">no restrictions</label>
                    <label for="checkbox9">expired DL</label>
                </div>
            </li>
            <li>
                <input type="radio" name="case" id="checkbox10" value="10">
                <div>
                    <label for="checkbox10">Valid DL with B1, B, AM categories</label>
                    <label for="checkbox10">general restriction (1)</label>
                    <label for="checkbox10">expired DL</label>
                </div>
            </li>
        </ul>

        <!-Submit button -->
        <div class="row g-3">
            <div class="col-md-12">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>