<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
    <title>Form for EUDI Wallet</title>
</head>

<body>
    <div class="container">
        <h1>Enter the data for your EUDI Wallet</h1>
        <form method="post" action="{{redirect_url}}" accept-charset="UTF-8" enctype="multipart/form-data" autocapitalize="off" spellcheck="false">
            <h3>Please select test case:</h3>

            <ul>
                <li>
                    <input type="radio" name="choice" id="checkbox1" value="1">
                    <label for="checkbox1">- Valid DL with AM categories</label>
                    <label for="checkbox1">- underage</label>
                    <label for="checkbox1">- signature usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox2" value="2">
                    <label for="checkbox2">- Valid DL with B1, B, AM categories</label>
                    <label for="checkbox2">- no restrictions</label>
                    <label for="checkbox2">- signature usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox3" value="3">
                    <label for="checkbox3">- Valid DL with B1, B, AM categories</label>
                    <label for="checkbox3">- general restriction (1)</label>
                    <label for="checkbox3">- signature usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox4" value="4">
                    <label for="checkbox4">- Valid DL with B1, B, AM categories</label>
                    <label for="checkbox4">- general restriction (3)</label>
                    <label for="checkbox4">- signature usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox5" value="5">
                    <label for="checkbox5">- Valid DL with A(79.03), B1, B, AM categories</label>
                    <label for="checkbox5">- A categorie restriction 79.03</label>
                    <label for="checkbox5">- signature usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox6" value="6">
                    <label for="checkbox6">- Valid DL with B1, B, AM categories</label>
                    <label for="checkbox6">- restriction 78</label>
                    <label for="checkbox6">- signature usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox7" value="7">
                    <label for="checkbox7">- Valid DL with group 1 and group 2 categories</label>
                    <label for="checkbox7">- valid  C categories with valid code 95</label>
                    <label for="checkbox7">- invalid D categories</label>
                    <label for="checkbox7">- signature usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox8" value="8">
                    <label for="checkbox8">- Valid DL with B1, B, AM categories</label>
                    <label for="checkbox8">- two codes per category</label>
                    <label for="checkbox8">- signature usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox9" value="9">
                    <label for="checkbox9">- Valid DL with AM categories</label>
                    <label for="checkbox9">- underage</label>
                    <label for="checkbox9">- usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox10" value="10">
                    <label for="checkbox10">- Valid DL with B1, B, AM categories</label>
                    <label for="checkbox10">- no restrictions</label>
                    <label for="checkbox10">- usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox11" value="11">
                    <label for="checkbox11">- Valid DL with B1, B, AM categories</label>
                    <label for="checkbox11">- general restriction (1)</label>
                    <label for="checkbox11">- usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox12" value="12">
                    <label for="checkbox12">- Valid DL with B1, B, AM categories</label>
                    <label for="checkbox12">- general restriction (3)</label>
                    <label for="checkbox12">- usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox13" value="13">
                    <label for="checkbox13">- Valid DL with A(79.03), B1, B, AM categories</label>
                    <label for="checkbox13">- A categerie restriction 79.03</label>
                    <label for="checkbox13">- usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox14" value="14">
                    <label for="checkbox14">- Valid DL with B1, B, AM categories</label>
                    <label for="checkbox14">- restriction 78</label>
                    <label for="checkbox14">- usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox15" value="15">
                    <label for="checkbox15">- Valid DL with group 1 and group 2 categories</label>
                    <label for="checkbox15">- valid  C categories with valid code 95</label>
                    <label for="checkbox15">- invalid D categories</label>
                    <label for="checkbox15">- usual mark</label>
                </li>
                <li>
                    <input type="radio" name="choice" id="checkbox16" value="16">
                    <label for="checkbox16">- Valid DL with B1, B, AM categories</label>
                    <label for="checkbox16">- two codes per category</label>
                    <label for="checkbox16">- usual mark</label>
                </li>
            </ul>

            <!-- Submit button -->
            <div class="row g-3">
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    <script>
<!--        // Ensure form submission sends the selected value of the dropdown-->
<!--        document.getElementById('eudiForm').addEventListener('submit', function(event) {-->
<!--            var caseValue = document.getElementById('caseSelect').value;-->
<!--            console.log('Selected case number:', caseValue);-->
<!--            // Optionally, you can handle the form submission here if you want to use AJAX.-->
<!--        });-->
    </script>
</body>
</html>